.main {
  padding: 3rem;
  padding-top: 5rem;
  margin-top: 0.3rem;
  border-top: 1px solid #aaa;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  &__section1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    &--image {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 400px;
        border-radius: 10px;
      }
    }
    &--proto {
      width: 100%;

      display: flex;
      justify-content: space-between;
      img {
        &:hover {
          cursor: pointer;
        }
        border-radius: 10px;
        width: 70px;
      }
    }
  }
  &__section2 {
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 70%;
    &--header {
      font-weight: 900;
      text-transform: uppercase;
      color: hsl(26, 100%, 55%);
    }
    &--name {
      text-transform: capitalize;
      font-size: 3rem;
      color: hsl(220, 13%, 13%);
    }
    &--paragraph {
      opacity: 0.7;
    }
    &--pricing-now {
      font-weight: 600;
      display: flex;
      align-items: center;
      gap: 1rem;
      font-size: 2rem;
      padding-bottom: 0.5rem;
      color: hsl(220, 13%, 13%);
      span {
        padding: 0.3rem;
        font-size: 1rem;
        color: hsl(26, 100%, 55%);
        background-color: hsl(25, 100%, 94%);
      }
    }
    &--pricing-before {
      opacity: 0.7;
    }
    &--buttons {
      font-size: 1.5rem;
      font-weight: 600;
      height: 3rem;
      display: flex;
      gap: 1rem;

      &-numberofitems {
        overflow: hidden;
        border-radius: 10px;
        flex-grow: 1;
        display: flex;
        button {
          border: none;
          cursor: pointer;
        }
        div {
          border-left: 1px solid #999;
          border-right: 1px solid #999;
        }
      }
      &-numberofitems > * {
        overflow: hidden;
        background-color: #ddd;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
      }
      &-addtocard {
        flex-grow: 1;
        button {
          display: flex;
          justify-content: center;
          gap: 1rem;
          align-items: center;
          font-size: 1.3rem;
          font-weight: 600;
          border: none;
          cursor: pointer;
          background-color: rgba(255, 125, 26, 0.584);
          border-radius: 10px;
          height: 3rem;
          width: 100%;
        }
      }
    }
  }
}
.try {
  display: flex;
  justify-content: center;
  align-items: center;
}
