.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  gap: 3rem;
  position: relative;
  &__links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-weight: 600;

    &--link {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 6rem;
      color: hsl(219, 9%, 45%);
      text-decoration: none;
      &:hover {
        box-shadow: 0 5px 0 hsl(26, 100%, 55%);
        color: black;
      }
    }
  }
  &__shop {
    &--icon {
      cursor: pointer;
    }

    &--onhover {
      display: none;
      animation: inout 2s ease-in-out;
      background-color: #fff;
      z-index: 3;
      box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
      position: fixed;
      top: 4rem;
      right: 6rem;
      border-radius: 8px;
      transition: all 2s ease-in-out;
      .cart {
        padding: 1rem;
        border-bottom: 1px solid black;
      }
    }
    &--onhover:hover + &--onhover {
      display: block;
    }
  }
  &__avatar {
    border-radius: 50%;
    cursor: pointer;
    &:hover {
      outline: 0.2rem solid hsl(26, 100%, 55%);
    }
    width: 3rem;
    height: 3rem;
  }
}

.navflex {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navicons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.items {
  width: 300px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;

  .item {
    display: flex;
    gap: 1rem;
    align-items: center;
    color: #aaa;
    div {
      padding-top: 0.5rem;
      strong {
        color: #000;
        padding-left: 0.5rem;
      }
    }
    .trash {
      cursor: pointer;
    }
    img {
      width: 3em;
      border-radius: 8px;
    }
  }
  &__checkout {
    width: 100%;
    height: 2rem;
    border-radius: 8px;
    border: none;
    outline: none;
    background-color: hsl(26, 100%, 55%);
    color: #fff;
    font-weight: 600;
    font-family: inherit;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    cursor: pointer;
  }
}
@keyframes inout {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
