.image {
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%);
  z-index: 20;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  gap: 1rem;
  &__close {
    align-self: flex-end;
    padding-right: 1rem;
    .close {
      color: #fff;

      cursor: pointer;
      &:hover {
        color: rgba(255, 125, 26, 0.584);
      }
    }
  }
}

.image.hidden,
.overlay.hidden {
  display: none;
}
.bigimage {
  width: 400px;
  position: relative;
  border-radius: 8px;
}
.pics {
  width: 100%;
  display: flex;
  justify-content: space-between;
  img {
    &:hover {
      cursor: pointer;
    }
  }
}
.pics img {
  width: 80px;
  border-radius: 8px;
}
.relativ {
  position: relative;
}
.next {
  transform: translate(50%, -50%);
  right: 0%;
}
.previous {
  transform: translate(-50%, -50%);
}
.next,
.previous {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  cursor: pointer;
  top: 50%;
  &:hover {
    color: rgba(255, 125, 26, 0.584);
  }

  border-radius: 50%;
  background-color: antiquewhite;
  width: 3rem;
  height: 3rem;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
}
